.container {
    border: 2px solid green;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainInfo {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 10px;
}